@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');
body{ /*Elemental selector*/
  
    background-color: skyblue;
    background-image: url(/HTML/Images/bit.jpg);
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-position: top right ;  
    background-attachment: fixed;

}
/* *{ Universal selector
    background-color:pink;
}  */


/* h1,h2{
    background-color: bisque !important;
}
h1{
    background-color: aquamarine;
    border-radius: 200px;

} */

p{ 
    text-indent: 20px; 
    word-spacing: 10px; 
    text-shadow: 10px 10px 20px rgb(43, 226, 52);
    line-height: 25px;
    color: antiquewhite;
}
#csid{
    background-color: coral;
}
#cs{
    color: blue;
}

div h2{
    color: #008;
}   

#wb{
     background-color: blue;
    margin-top: 200px; 
    border: 2px solid black; 
    width: 300px;  
    margin-left: 100px; 
    margin-bottom: 300px; 
    margin:200px 300px 100px;
    padding-left: 100px
}
h2{
    font-family:"BBH Bogle", sans-serif; ;
    font-size: normal;
}
ul a{
     text-decoration: none; 
     padding: 10px;
} 
ul{
    margin-left: 80%;
} 
a:hover{
    background-color: rgb(176, 152, 201);
} 
.list1{
    list-style: decimal-leading-zero; 

} 
table,th,td{
    border: 2px solid; 
    padding: 5px; 

} 
th{
    background-color: green;
    color:white;
} 
tr:nth-child(odd){
     background-color: palevioletred;
}
tr:nth-child(even){
    background-color: red;
}

.rect{
    width: 100px; 
    height: 100px; 
    background-color: darkgreen;  
    padding: 10px; 
    position: relative; 
    left: 40px;
    top: 50px;  
    z-index: 2;
}
.rect2{
    width: 100px; 
    height: 100px; 
    background-color: black;  
    padding: 10px; 
    position: relative; 
    left: 20px;
    top: 20px;  
    z-index: 1;


}
.rect3{
    width: 100px; 
    height: 100px; 
    background-color: chartreuse;  
    padding: 10px; 
    position: relative; 
    left: 30px;
    bottom: 50px;  
    z-index: 3;
} 
.container{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    flex-direction: row; 
    flex-direction: row-reverse;
    gap: 10px; 
}
.container img{
    width: 200px;
    height: 200px;
}

